/.idea
/.vagrant
/public/wordpress
/public/content/themes/*
!/public/content/themes/.gitkeep
/public/content/uploads/*
!/public/content/uploads/.gitkeep
/vendor/*
!/vendor/.gitkeep
Homestead.yaml
.env
